---
layout: default
---
{%- include header.html -%}

<!-- Main -->
<div id="main">
	<!-- Page -->
	<article class="shade-two">
	  <div class="container">
			<header>
				<h2 style="text-align: center;">		
					{%- if page.sub-header == null or page.sub-header == 'use-title' -%}
					  {{- page.title -}}
					{%- else -%}
					  {{- page.sub-header -}}
					{%- endif -%}
			 	</h2>
				{%- if page.subtitle -%}<p>{{- page.subtitle -}}</p>{%- endif -%}
			</header>
	    {{- content -}}
	  </div>
	</article>
</div>